body {
  background-color: #f0eee8;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}
hr {
  border-color: #717342;
}

/* BUTTON */
button {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.secondary-button {
  display: flex;
  width: 100%;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #717342;
  border-radius: 100px;
}

.primary-button {
  border-radius: 16px;
  background: #717342;
  color: white;
  font-weight: 500;
}

/* NAV  */
nav {
}
.backgorund-blur {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  -webkit-mask-image: linear-gradient(to bottom, black 10%, transparent 80%);
  mask-image: linear-gradient(to bottom, black 10%, transparent 80%);
}

/* HEADER  */

/* OUR EVENT  */
.event-date {
  padding: 10px 16px;
  background: rgba(135, 135, 135, 0.1);
  backdrop-filter: blur(75px);
  border-radius: 2rem;
  max-width: min-content;
  white-space: nowrap;
}
.event-cards {
  overflow-y: scroll;
}

/* OUR SERVICE  */
.service-item {
  transition: 300ms ease;
  border-bottom: 1px solid #717342;
  padding: 2rem;
  min-height: 250px;
}
.service-image {
  height: 0px; /* Start height */
  overflow: hidden; /* Prevent content from showing during transition */
  transition: height 300ms ease; /* Animate height */
}

.service-item:hover {
  color: white;
  background-color: #717342;
  border-radius: 2rem;
  cursor: pointer;

  .service-number {
    color: white;
  }
  .service-image {
    height: 250px; /* Target height for animation */
  }
  .service-text-btn {
    display: block;
  }
}
@media (max-width: 767px) {
  .service-item {
    min-height: 100px;
  }
}
