---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar"
import Footer from "../components/Footer"
import Faq from "../components/home-page/Faq"
import ContactUs from "../components/home-page/ContactUs"
import PhotoHeader from "../components/PhotoHeader"
import Packages from "../components/packages/Packages"
---

<Layout>
    <Navbar client:load/>
    <PhotoHeader image={"/assets/portfolio-cover-2.jpg"}><h1 class="text-[1.5rem] leading-10 md:text-[3rem] md:bottom-6 text-white absolute bottom-0 px-[5vw] md:px-[10vw]">
        Luxe Studios – Premium Photography & Videography Services</h1></PhotoHeader>
    <Packages/>
    <ContactUs/>
    <Faq client:idle/>
    <ContactUs client:idle/>
    <Footer/>
</Layout>;
