---
import { Image } from 'astro:assets';
import Footer from "../components/Footer";
import Navbar from "../components/Navbar";
import PortfolioCover from "../components/portfolio-page/portfolioCover";
import Layout from "../layouts/Layout.astro";

// Dynamically import all images from the folder
const images = import.meta.glob('../assets/portfolio-images/*.jpg', { eager: true });

const imageArray = Object.entries(images).map(([path, module]) => ({
  src: module.default,
  alt: path.split('/').pop()?.split('.')[0], // Use filename as alt text
}));
---

<Layout>
  <Navbar />
  <PortfolioCover>
  <div class="">
    {imageArray.map((image, index) => (
      <Image key={index} src={image.src} alt={image.alt} loading="lazy" class="w-full mb-4 rounded-xl" />
    ))}
  </div></PortfolioCover>
  <Footer />
</Layout>
