---
import { Image } from 'astro:assets';
import Footer from "../components/Footer";
import Navbar from "../components/Navbar";
import PortfolioCover from "../components/portfolio-page/portfolioCover";
import Layout from "../layouts/Layout.astro";
import ContactUs from '../components/home-page/ContactUs';


// Dynamically import all images from the folder
const images = import.meta.glob('../assets/portfolio-images/*.jpg', { eager: true });

const imageArray = Object.entries(images).map(([path, module]) => ({
  src: module.default,
  alt: "Luxe Studios protfolio picture", // Use filename as alt text
}));
---

<Layout>
  <Navbar />
  <PortfolioCover>
  <div class="">
    {imageArray.map((image, index) => (
      <Image src={image.src} alt={image.alt} loading="lazy" class="w-full mb-4 rounded-xl" />
    ))}
  </div></PortfolioCover>
  <ContactUs client:load/>
  <Footer />
</Layout>
